*{
    margin: 0;
    padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.open-sans-quicksand {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.open-sans-raleway {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* navbar style */
.logo-one{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.nav-menu{
    list-style: none;

}
.nav-list{
    display: inline-block;
    margin-right:32px;
}
.nav-list, .nav-list-one{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: rgba(254, 163, 1, 1);


}

.nav-list, .nav-list-two{
    text-decoration: none;
    font-weight:500 ;
    font-size: 20px;
    line-height: 30px;
    color:rgba(1, 172, 253, 1) ;


}

.nav-list, .nav-list-three{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color:rgba(5, 212, 223, 1) ;


}

.nav-list, .nav-list-four{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(93, 88, 239, 1);


}

.img-logo{
    width: 62px;
    height: 62px;

}

.logo-name{
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color:rgba(17, 17, 17, 1) ;
    margin-left: 11px;
    

}
.nav-btn{
    padding: 10px 60.5px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius:12px ;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);


}

.responsive-icon{
    display: none;
}


/* banner-section-style */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50;
    margin-left: 320px;
    margin-right: 320px;
    
   

}

.banner-title{
    font-weight: bold;
    font-size: 56px;
    line-height: 61px;
    

}

.banner-description{
    font-weight: 400;
    font-size: 20px;
    color:rgba(17, 17, 17, 1) ;
    margin-top: 24px;

}
.banner-btn{
    background-color: black;
    color: white;
    padding:10px 47px;
    margin-top: 24px;
    border: none;
    border-radius: 12px;


}
.banner-img{
    width: 500px;
}

.spam-1{
    color:rgba(254, 163, 1, 1) ;
}
.spam-2{
    color:rgba(1, 172, 253, 1) ;
}

/* curriculam-card-container style */

.curriculam-container{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
}

.curriculam-title{
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color:rgba(0, 0, 0, 1) ;
    margin-bottom: 85px;

}

.curriculam-card-container{
   display: flex;
   flex: 1;
   gap: 35px;
  

}

.curriculam-card-1{
    margin-left: 320px;
 background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) , #FFFFFF 50%);
 margin-top: 35px;
 border-radius: 19px;
width: 410px;
box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);



}

.curriculam-card-2{
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) , #FFFFFF 50%);
    margin-top: 35px;
    border-radius: 19px;
    width: 410px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculam-card-3{
    margin-right: 320px;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), #FFFFFF 50%);
    margin-top: 35px;
    border-radius: 19px;
    width: 410px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-img{
    padding:52px 115px 32px 115px ;
}
.card-title{
    text-align: center;
   
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
   
    color:rgba(32, 32, 32, 1) ;

}

.card-description{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    color:rgba(128, 128, 128, 1) ;
    font-weight: 500;
    font-size: 15px;


}
.like-a-btn{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color:rgba(100, 200, 255, 1) ;


}
 .like-a-btn-2{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(240, 170, 0, 1);


}
.like-a-btn-3{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(135, 0, 255, 1);


}


.symble{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 60px;

}
.s-1{
    background-color:orange;
    padding: 20px;
    border-radius: 50%;
    color: white;
}
.s-2{
    background-color:orange;
    padding: 20px;
    border-radius: 50%;
    color: white;
}


/* tories style */

.flex-container{
    display: flex;
    flex: 1;
   
    
}
.stories-card-1{
    background-color: white;
    width: 540px;
    height: 630px;
    margin-left: 320px;
}
.story-card-img{
    width: 540px;
    height: 337px;
    padding: 0;

    position: relative;
    left: 0;
    top: 0;


}

.stories-card-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
}

.stories-title{
    text-align: center;
    font-size: 45px;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 80px;

}

.stories-container{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.flex-container{
   
    background-image:linear-gradient(to bottom, #FFFFFF 50%, rgba(254, 163, 1, 1));
   
   

}
/* responsive styles */
@media screen and (max-width:576px) {
    .logo-name {
        display: none;
    }
    .nav-menu {
        display: none;

    }
    .nav-btn{
        display: none;
        padding: 10px 60.5px;
        background-color: rgba(254, 163, 1, 1);
        border: none;
        border-radius:12px ;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color:rgba(255, 255, 255, 1);
    
    
    }
    .img-logo {
       
        margin-top: 12px;
        margin-left: 16px;
        width: 46px;
        height: 46px;

    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .responsive-icon{
        display: block;
        height: 30px;
        width: 30px;
        color: black;
        align-items: center;
        font-size: 30px;
        margin-right: 16px;
        margin-top: 30px;
        margin-bottom: 20px;

    }

    .banner-container{
       flex-direction: column-reverse;
      
     
       gap: 50;
       margin-left: 0;
       margin-right: 0;
       
       
       justify-content: center;
       align-items: center;
      
    
    }
   
    .banner-img{
        width: calc(100% - 10%);

    }
    
    .banner-title{
        font-weight: bold;
        font-size: 48px;
        line-height: auto;
        text-align: center;
        margin-top: 20px;

    
    }

    .banner-description{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color:rgba(17, 17, 17, 1) ;
        margin-top: 18px;
    
    }
   .btn-primary{
    display: flex;
    justify-content: center;

   }
    .banner-btn{
        
        background-color: black;
        color: white;
        padding:10px 47px;
        margin-top: 19px;
        border: none;
        border-radius: 12px;
      
    
    }

    .curriculam-card-container{
        flex-direction: column;
        flex: 1;
        gap: 20px;
        justify-content: center;
        align-items: center;
       
     
     }

     .curriculam-title{
        text-align: center;
        margin-top: 40px;
        font-weight: bold;
        font-size: 32px;
        line-height: 60px;
        color:rgba(0, 0, 0, 1) ;
        margin-bottom: 0;
    
    }
     .curriculam-card-1{
        margin-left: 0;
     background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) , #FFFFFF 50%);
     margin-top: 20px;
     border-radius: 19px;
    width: 410px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    
    
    
    }

    .curriculam-card-2{
        background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) , #FFFFFF 50%);
        margin-top: 0;
        border-radius: 19px;
        width: 410px;
        box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    }
    

    
.curriculam-card-3{
    margin-right: 0;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), #FFFFFF 50%);
    margin-top: 0;
    border-radius: 19px;
    width: 410px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.symble{
    display: none;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}

}