*{
    margin: 0;
    padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.open-sans-quicksand {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.open-sans-raleway {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* navbar style */
.logo-one{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.nav-menu{
    list-style: none;

}
.nav-list{
    display: inline-block;
    margin-right:32px;
}
.nav-list, .nav-list-one{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: rgba(254, 163, 1, 1);


}

.nav-list, .nav-list-two{
    text-decoration: none;
    font-weight:500 ;
    font-size: 20px;
    line-height: 30px;
    color:rgba(1, 172, 253, 1) ;


}

.nav-list, .nav-list-three{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color:rgba(5, 212, 223, 1) ;


}

.nav-list, .nav-list-four{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(93, 88, 239, 1);


}

.img-logo{
    width: 62px;
    height: 62px;

}

.logo-name{
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color:rgba(17, 17, 17, 1) ;
    margin-left: 11px;
    

}
.nav-btn{
    padding: 10px 60.5px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius:12px ;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:rgba(255, 255, 255, 1);


}

.responsive-icon{
    display: none;
}


/* banner-section-style */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50;
    margin-left: 320px;
    margin-right: 320px;
    
   

}

.banner-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 61px;
    

}

.banner-description{
    font-weight: 400;
    font-size: 20px;
    color:rgba(17, 17, 17, 1) ;
    margin-top: 24px;

}
.banner-btn{
    background-color: black;
    color: white;
    padding:15px 50px;
    margin-top: 24px;
    border: none;
    border-radius: 12px;


}
.banner-img{
    width: 500px;
}

.spam-1{
    color:rgba(254, 163, 1, 1) ;
}
.spam-2{
    color:rgba(1, 172, 253, 1) ;
}

/* curriculam-card-container style */

.curriculam-container{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
}

.curriculam-title{
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color:rgba(0, 0, 0, 1) ;
    margin-bottom: 85px;

}

.curriculam-card-container{
   display: flex;
   flex: 1;
   gap: 35px;
  

}

.curriculam-card-1{
    margin-left: 320px;
 background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) , #FFFFFF 50%);
 margin-top: 35px;
 border-radius: 19px;
width: 410px;
height: auto;
box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);



}

.curriculam-card-2{
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) , #FFFFFF 50%);
    margin-top: 35px;
    border-radius: 19px;
    width: 410px;
    height: auto;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculam-card-3{
    margin-right: 320px;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), #FFFFFF 50%);
    margin-top: 35px;
    border-radius: 19px;
    width: 410px;
    height: auto;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-img{
    padding:52px 115px 32px 115px ;
}
.card-title{
    text-align: center;
   
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
   
    color:rgba(32, 32, 32, 1) ;

}

.card-description{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    color:rgba(128, 128, 128, 1) ;
    font-weight: 500;
    font-size: 15px;


}
.like-a-btn{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color:rgba(100, 200, 255, 1) ;


}
 .like-a-btn-2{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(240, 170, 0, 1);


}
.like-a-btn-3{
    text-align: center;
    margin-top: 33px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(135, 0, 255, 1);


}


.symble{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 60px;

}
.s-1{
    background-color:orange;
    padding: 20px;
    border-radius: 50%;
    color: white;
}
.s-2{
    background-color:orange;
    padding: 20px;
    border-radius: 50%;
    color: white;
}


/* stories style */

.flex-container{
    display: flex;
    flex: 1;
   
    
}
.stories-card-1{
    background-color: white;
    width: 540px;
    height: 630px;
    margin-left: 320px;
    border-radius: 16px;

}
.story-card-img{
    width: 540px;
    height: 337px;
    padding: 0;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;

    position: relative;
    left: 0;
    top: 0;
   


}

.story-card-btn{
    background-color:rgba(60, 216, 232, 1) ;
    padding: 15px 18px;
    border: none;
    border-radius: 48px;
    color: white;
    margin-left: 39px;
    position: relative;
    top: -25px;
    
}
.story-card-title{
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
  
    margin-left:38px ;
   margin-bottom: 30px;
   margin-right: 38px;

}
.story-card-description{
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(102, 102, 102, 1);
   margin-left: 38px;
  


}

.stories-card-2{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    margin-left: 30px;
    margin-right: 0;
    width: 630px;
}

.card-A{
    width: 320px;
    height: 301px;
    background-color: #FFFFFF;
    border-radius: 16px;

}


.card-A-img{
    object-fit: cover;
    width: 320px;
    height: 177px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;


}
.card-A-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 12px 20px;
    position: relative;
    left: 50px;
    top: -25px;
    border: none;
    color: #FFFFFF;

}
.card-B-btn{
    background-color: rgba(93, 88, 240, 1);
    border-radius: 48px;
    padding: 12px 20px;
    position: relative;
    left: 50px;
    top: -25px;
    border: none;
    color: #FFFFFF;

}

.card-C-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 12px 20px;
    position: relative;
    left: 50px;
    top: -25px;
    border: none;
    color: #FFFFFF;

}
.card-D-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 12px 20px;
    position: relative;
    left: 50px;
    top: -25px;
    border: none;
    color: #FFFFFF;

}
.stories-title{
    text-align: center;
    font-size: 45px;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 80px;

}

.card-A-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
   margin-right: 38px;

    margin-bottom: 33px;
    margin-left: 38px;

}
.new-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px;
   

}
.view-all-btn{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    margin-bottom: 60px;
   

}

.stories-container{
    background: linear-gradient(#FFFFFF, #fdcb6e);
   
}

.flex-container{
    background-image: url(../images/bg.png);
   
   
}

/* footer style */
.footer-container{
    background-color:rgba(1, 172, 253, 1) ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top: 0;
   

}

.education-title{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 124px;
    font-weight: bold;
    font-size: 43px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 35px;

}
.school-logo{
    width: 90px;
    height: 92px;
   position: relative;
   top: 5px;

}
.edication-description{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 180px;
}
.education-content{
    margin-left: 320px;
  
    width: 400px;
    height: auto;


}

.about-content{
    margin-top: 115px;
    margin-left: 190px;

}
.about-title{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;

}
.about-title-1{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.touch-title{
    margin-top: 135px;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;

}
.touch-img{
   
    margin-right: 10px;

}
.keep-in-touch-content{
    margin-right: 320px;
    
}

/* responsive styles */
@media screen and (max-width: 576px) {
    .logo-name {
        display: none;
    }

    .nav-menu {
        display: none;

    }
    .nav-btn{
        display: none;
        padding: 10px 60.5px;
        background-color: rgba(254, 163, 1, 1);
        border: none;
        border-radius:12px ;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color:rgba(255, 255, 255, 1);
    
    
    }
    .img-logo {
       
        margin-top: 12px;
        margin-left: 16px;
        width: 46px;
        height: 46px;

    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border: 1px solid orange;
    }

    .responsive-icon{
        display: block;
        height: 30px;
        width: 30px;
        color: black;
        align-items: center;
        font-size: 30px;
        margin-right: 16px;
        margin-top: 30px;
        margin-bottom: 20px;

    }

    .banner-container{
       flex-direction: column-reverse;
      
     
       gap: 50;
       margin-left: 0;
       margin-right: 0;
       
       
       justify-content: center;
       align-items: center;
      
    
    }
   
    .banner-img{
        width: calc(100% - 10%);

    }
    
    .banner-title{
        font-weight: bold;
        font-size: 48px;
        line-height: auto;
        text-align: center;
        margin-top: 20px;

    
    }

    .banner-description{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color:rgba(17, 17, 17, 1) ;
        margin-top: 18px;
    
    }
   .btn-primary{
    display: flex;
    justify-content: center;

   }
    .banner-btn{
        
        background-color: black;
        color: white;
        padding:10px 47px;
        margin-top: 19px;
        border: none;
        border-radius: 12px;
      
    
    }

    .curriculam-card-container{
        flex-direction: column;
        flex: 1;
        gap: 20px;
        justify-content: center;
        align-items: center;
       
     
     }

     .curriculam-title{
        text-align: center;
        margin-top: 40px;
        font-weight: bold;
        font-size: 32px;
        line-height: 60px;
        color:rgba(0, 0, 0, 1) ;
        margin-bottom: 0;
    
    }
     .curriculam-card-1{
        margin-left: 0;
     background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) , #FFFFFF 50%);
     margin-top: 20px;
     border-radius: 19px;
    width: calc(100% - 10%);
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    
    
    
    }

    .curriculam-card-2{
        background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) , #FFFFFF 50%);
        margin-top: 0;
        border-radius: 19px;
        width: calc(100% - 10%);
        box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    }
    

    
.curriculam-card-3{
    margin-right: 0;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), #FFFFFF 50%);
    margin-top: 0;
    border-radius: 19px;
    width: calc(100% - 10%);
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-img{
    
    padding:52px 115px 32px 115px ;
 

}
.symble{
    display: none;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}


/* story section responsive */
.stories-card-1{
    display: none;
    background-color: white;
    width: 540px;
    height: 630px;
    margin-left: 320px;
    border-radius: 16px;

}

.stories-card-2{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
    margin-right: 20px;
    width:calc(100% - 20px) ;
}

.card-A{
    width: 220px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 16px;

}
.card-A-img{
    object-fit: cover;
    width: 220px;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;


}

.card-A-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 6px 11px;
    position: relative;
    left: 20px;
    top: -15px;
    border: none;
    color: #FFFFFF;
    font-size: 9px;

}
.card-B-btn{
    background-color: rgba(93, 88, 240, 1);
    border-radius: 48px;
    padding: 6px 11px;
    position: relative;
    left: 20px;
    top: -15px;
    border: none;
    color: #FFFFFF;
    font-size: 9px;

}

.card-C-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 6px 11px;
    position: relative;
    left: 20px;
    top: -15px;
    border: none;
    color: #FFFFFF;
    font-size: 9px;

}
.card-D-btn{
    background-color:rgba(149, 178, 38, 1) ;
    border-radius: 48px;
    padding: 6px 11px;
    position: relative;
    left: 20px;
    top: -15px;
    border: none;
    color: #FFFFFF;
    font-size: 9px;
}
.card-A-title{
    font-weight: bold;
    font-size: 9px;
    line-height: 17px;
    color: #000000;
   margin-right: 36px;

    margin-bottom: 19px;
    margin-left: 22px;

}
.stories-title{
    text-align: center;
    font-size: 26px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 30px;

}
.footer-container{
    background-color:rgba(1, 172, 253, 1) ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: relative;
    top: 0;
   

}

.education-title{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 124px;
    font-weight: bold;
    font-size: 35px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 23px;

}
.school-logo{
    width: 75px;
    height: 75px;
   position: relative;
   top: 5px;

}
.edication-description{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 180px;
}
.education-content{
    margin-left: 16px;
  position: relative;
  top: -50px;
    width: 400px;
    height: auto;


}

.about-content{
    margin-top: -220px;
    margin-left: 20px;

}
.about-title{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;

}
.about-title-1{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.touch-title{
    margin-top: 30px;
    margin-bottom: 36px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;

}
.touch-img{
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 60px;


}
.keep-in-touch-content{
    margin-right: 0;
    margin-left: 16px;
    
}


}